#conteiner_home_page{
	display: flex;
}
.basic{
	margin-top: 160px;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
}
.left_conteiner{
	border: 1px solid #242e42;
	background: #242e42;
	height: 907px;
	width: 270px;
	box-sizing: border-box;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	position: fixed;
}

a {
	color: white;
	text-decoration: none;
	display: flex;
	width: 100px;
	height: 30px;
	margin-left: 100px;
}
ul {
	list-style: none;
	margin-top: 70px;
	display: flex;
	flex-direction: column;
}
li {
	float:right;
	background: #242e42;
	width: 269px;
	height: 30px;
	display: flex;
}
li:hover{
	background: #121721;
	cursor: pointer;
}
li>ul{
	display: none;
}
li>ul>li{
	background: gray;
}
li:hover>ul{
	float: none;
	display: block;
}
.left_conteiner_info{
	margin-top: 300px;
	display: flex;
}
.logo{
	height: 100px;
	width: 100px;
	display: flex;
}
.info{

}
.fecbook{

}
.vk{

}
.left.title{
	
}
.beta{
	color: red;
	margin-top: 150px;
	font-size: 15px;
}
body{
	margin: 0;
	padding: 0;
	background: #DCDCDC;
}
#content{

}
.content_one{
	border: 1px solid white;
	border-radius: 5px;
	background: white;
	height: 300px;
	width: 370px;
	margin-left: 370px;
	margin-top: 40px;
	padding: 7px;
	display: flex;
	flex-direction: row;

}


@media screen and (max-width: 520px){
	.left_conteiner{
		width: 520px;
		height: 50px;

	}
	.logo{
		display: none;
	}
	.content_one{
		height: 300px;
		width: 320px;
		margin-left: 100px;
		margin-top: 50px;
	}
	.basic{
		display: none;
	}
	ul{
		display: none;
	}
}